.PopularProduct_box {

    width: 100%;
    height: 1045px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PopularProduct_topBox {

    width: 1140px;
    background-color: white;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PopularProduct_title {

    font-size: 36px;
    color: black;
}

.PopularProduct_catalogButton {

    width: 210px;
    height: 49px;
    border-radius: 5px;
    border: 1px solid #E30614;
    font-size: 16px;
    color: #E30614;
    background-color: transparent;
    cursor: pointer;
}

.PopularPoduct_gridBox {

    width: 1140px;
    height: 850px;    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;

}

.PopularProduct_item {
   
    height: 425px;
    border: 1px solid #E6E6E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
    transition: 0.6s;

}

.showBlock {

    height: 627px;
    border: 1px solid #E6E6E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
    transition: 0.6s;
    z-index: 2;
    position: relative;

}


.PopularProduct_itemImg {

    width: 179px;
    height: 196px;
    margin-top: 63px;
    min-height: 196px;
}

.PopularProduct_itemText {

    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: start;   
    
}

.PopularProduct_itemDate {

    width: 83px;
    height: 20px;
    font-size: 10px;
    color: #E30614;
    border: 1px solid #E30614;
    background-color: #e3061541;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.PopularProduct_itemTitle {

    font-size: 18px;
    
}

.PopularProduct_itemTx {

    font-size: 18px;
    margin-bottom: 9px;
}

.PopularProduct_itemPrice {


    display: block;
    font-size: 15px;
    font-weight: 700;
}

.PopularProduct_itemPrice2 {


    display: block;
    font-size: 15px;
    font-weight: 700;
}

.PopularProduct_itemPriceHide  {

    display: none;
}




.Block_hover {

    display: block;
    width: 100%;
    height: 202px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}


.Block_hoverHide {

    display: none;
    width: 100%;
    height: 202px;

    animation: hideBlock 0.4s forwards;
}

@keyframes hideBlock {

    from {
        display: block;
    }

    50% {

        opacity: 0;
    }

    to {

        opacity: 0;
        display: none;

    }


}


.price_quantityBlock {

    width: 85%;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.quantityBlock {

    width: 108px;
    height: 100%;
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.258);
    border-radius: 4px;
}

.quantityBlock_buton {

    width: 28.28px;
    height: 100%;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;

}



.quantityBlock_number {

    width: 51.72px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid  rgba(128, 128, 128, 0.258);
    border-left: 1px solid   rgba(128, 128, 128, 0.258);

}

.product_number {

    font-size: 18px;
}

.Block_hover_basketButton {

    width: 245px;
    height: 42px;
    background-color: red;
    border-radius: 4px;  
    border: none;  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.Block_hover_informationButton {

    width: 245px;
    height: 42px;
    background-color: #EFEFEF;
    border-radius: 4px;
    color: black;
    font-size: 15px;
    border: none;
    cursor: pointer;

}

.basketButton_div {

    width: 104px;
    height: 18px;
    display: flex;
    gap: 15px;
}

.basketButton_divImg {

    width: 16px;
    height: 16px;

}

.basketButton_divText {

    font-size: 15px;
    color: white;
    font-weight: 500;
}

.item_favoriteDiv {

    display: block;

    width: 93px;
    height: 18px;
    position: absolute;
    right: 15px;
    top: 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
    
}

.item_favoriteDiv_hide {

    display: none;
    
}

.item_favoriteImg {

    width: 13px;
    height: 13px;

}

.item_favoriteText {

    font-size: 12px;
    color: #B3B3B3;
}